<html>
<link rel="stylesheet" type="text/css" href="style.css">
	<body>
		<header>
		    <div class="topmar">&nbsp;</div>
				<div class="content">
					<div class="logo">
					   <a href=""><img src="images/logo.jpg" alt=""/></a>
					</div>
					<div class="contact">
					 <!--  <img src="images/phone_icon.jpg" alt=""/> --><p>+131 6444434</p>
					</div>
					<div class="toprit">
						<div class="cuscare">
						   <div class="signin"> <a href="">Sign in(optional)</a><img src="images/india_flag.jpg" alt/>
						   </div>
						   <div class="contact">
					        <select><option><a href=" ">Trichy</a></option></select><br>
							<span>1800-400-80800</span>
					       </div>
						</div>
                        <div class="menu">
						  <ul>
						     <li><a href="">Home</a></li>
							 <li><a href="">Print/SMS Ticket</a></li>
							 <li><a href="">Cancellation</a></li>
							 <li><a href="">Check Fare</a></li>
							 <li><a href="">Check refund status</a></li>
							 
						  </ul>
                        </div>
					</div>
				</div>
                <div class="content">
					<div class="slideleft">
					  <img src="images/slide1.jpg" alt=""/>
					</div>
					<div class="formrt">
					       <div class="head"><h3>Book Bus Ticket</h3></div>
                           <form action="" method="">
						   <div class="inp">From<input type="text" name="" placeholder="Enter origin"></div>
						   <div class="inp">To<input type="text" name="" placeholder="Enter Destination"></div>
						   <div class="inp">Date<input type="date" name="" placeholder="Date"></div>
						   <div class="inp"><input type="submit" name="submit" value="Find Bus"></div>
						   </form>
						   <p>Suggest a bus route</p>
					</div>
				</div>
		</header>
		<aside>
			<div class="content">
				<div class="midhead"><img src="images/customer_satisfaction.png" alt=""></div><span >Customer Satisfication</span><br>
				Superior customer services,24*7
				<div class="card">
				   <img src="images/creditcard_icons.jpg" alt="">
			    </div>
                <div class="route">
				   <div class="roed"><h2>Top Routes</h2>
				   </div>
				   <div class="rolist1">
				     <ul>
					    <li>Chennai-Banglore</li>
						<li>Chennai-Coimbatore</li>
						<li>Chennai-Madurai</li>
						<li>Banglore-Chennai</li>
						<li>Banglore-Goa</li>
						<li>Banglore-Hyderabad</li>
						<li>Banglore-Pune</li>
					 </ul>
					 </div>
					 <div class="rolist2">
					 <ul>
					    <li>Banglore-Emakulam</li>
						<li>Hyderbad-Banglore</li>
						<li>Hyderbad-Banglore</li>
						<li>Hyderbad-Vijayawada</li>
						<li>Hyderbad-Visakapatnam</li>
						<li>Pune-Nagpur</li>
						<li>Pune-Indore</li>
					 </ul>
				   </div>		
				   
			    </div>
                <div class="exp">
				    <div class="expimg"> <img src="images/cartoon1.png" alt=""></div>
					<div class="expcon">
					<h1>Why gobusgo.in?</h1>
					<ul>
					<li>Trusted Brand in Online Bus Ticket since 2007 </li>
					<li>What You See is What You Pay-No Extra Charges</li>
					<li>10000+ Trips 500+ Operators</li>
					<li>Hassel Free Cancellation</li>
					<li>Cash On Delivery in Major Cities</li>
					<li></li>
					</ul>
					</div>
			    </div>
				<div class="asbor">&nbsp;</div>   
			</div>
		</aside>
		<footer>
			<div class="content">
				<div class="fot1">
					<div class="policy">
					  <ul>
					    <li><b>Policies:</b></li>
						<li><a href="" alt="">Terms of Use</a></li>
						<li><a href="" alt="">Privacy Policy</a></li>
					  </ul>		  
					</div>
					
					<div class="mat">
					   <div class="matimg">
					   <img src="images/bus_icon.png" alt=""/>
					   </div>
					   <div class="matcon"><p>Above 500<br>Bus Operators<br>Across India</p>
					   </div>
					</div>
					<div class="mat">
					   <div class="matimg">
					   <img src="images/ticket_icon.png" alt=""/>
					   </div>
					   <div class="matcon"><p>Cash<br>on<br>Delivery</p>
					   </div>
					</div>
					<div class="mat">
					   <div class="matimg">
					   <img src="images/gift.png" alt=""/>
					   </div>
					   <div class="matcon"><p>Surprise awaits <br>in each <br>booking.</p>
					   </div>
					</div>
				</div>
				<div class="mat1">Copyright 2013</div>
				<div class="fot2">
					<div class="menu">
						  <ul>
						     <li><a href="">Home</a></li>
							 <li><a href="">Print/SMS Ticket</a></li>
							 <li><a href="">Cancellation</a></li>
							 <li><a href="">Check Fare</a></li>
							 <li><a href="">Check refund status</a></li>
							 
						  </ul>
                        </div>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>