<php
include('header.php')
?>

			<div class="section">
					<div class="aside">
					<img src="images/banner.png" alt="">
					</div>
					<div class="article">
					  <span>TICKET</span>Online Booking / Bus Rental Services.
					  <div style="border:1px solid #FFF;"></div>
						  <form>
							  <div class="radio">
							   <input type="radio" name="one" value="">One Way
							   <input type="radio" name="round" value="">Round Trip
							   <input type="radio" name="rent" value="">Bus Rental
							   </div>
							   <div class="feild">From<input type="text" name="from" value=""></div>
							   <div class="feild">To<input type="text" name="to" value=""></div>
							   <div class="feild">Date 0f Journey <input type="text" name="up" value=""></div>
							   <div class="feild">Date Of Return<input type="text" name="down" value=""></div>
							   <div class="feild">Name<input type="text" name="name" value=""></div>
							   <div class="feild">Email<input type="text" name="email" value=""></div>
							   <div class="feild">Contact Number<input type="text" name="" value=""></div>
							   <div class="feild">Bus Type
								   <select name="" value="">
								   <option>Normal</option>
								   <option>Luxury</option>
								   <option>Sleeper</option>
								   <option>SemiSleeper</option>
								   </select>
									<div class="click"><input type="submit" name="submit" value="Submit"></div>
							   </div>
						  </form>
					  <div style="clear:both"></div>
					</div>
					<div class="botas">
					  <img src="images/ban2.png" alt="">
					</div>
					<div class="botart">
						 <ul class="ptp">
							 <li> Chennai - Bangalore<li>
							 <li>Chennai - Coimbatore<li>
							 <li>Chennai - Madurai<li>
							 <li>Bangalore - Chennai<li>
							 <li>Bangalore - Hyderabad<li>
							 <li>Bangalore - Goa<li>
							 <li>Bangalore - Pune<li>
						 </ul>   
						 <ul class="ptp">
							 <li>Bangalore - Ernakulam<li>
							 <li>Hyderabad - Bangalore<li>
							 <li>Hyderabad - Vijayawada<li>
							 <li>Hyderabad - Visakapatnam<li>
							 <li>Hyderabad - Mumbai<li>
							 <li>Pune - Nagpur<li>
							 <li>Pune - Indore <li>
						 </ul>
						 <ul class="ptp" style="margin-right:0;">
							 <li>Bangalore - Ernakulam<li>
							 <li>Hyderabad - Bangalore<li>
							 <li>Hyderabad - Vijayawada<li>
							 <li>Hyderabad - Visakapatnam<li>
							 <li>Hyderabad - Mumbai<li>
							 <li>Pune - Nagpur<li>
							 <li>Pune - Indore<li>
						 </ul>
						 <div style="clear:both"></div>
					</div>
			</div>

<?php
include('footer.php')
?>